@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    background: #f9f9f9;
    min-height: height 100vh;
    overflow-x: hidden;
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px 100px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    z-index: 100;
}
.logo{
    font-size: 2am;
    color:#359381;
    pointer-events:none;
    margin-right:270px;
}
.navigation a{
    text-decoration: none;
    color:#359381;
    padding: 6px 15px;
    border-radius:20px;
    margin: 0 10px;
    font-weight:600;
}
.navigation a:hover,
.navigation a.active{
    background: #359381;
    color:#fff;
}
.parallax{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    position:fixed;
    font-size:5em;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }
  .wa{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aqua;
  }
  marquee{
    position: absolute;
  }
  .bird{
    top: 100px;
  }
  .lion{
    top: 800px;
  }
  .dear{
    top: 800px;
  }

  /******ABOUT******/

  .About {
    position: relative;
    background: #003329;
    padding: 100px;
    min-height: 100vh;
}
.ele{
    top: 760px;
}